We can comment code in 3 ways.  
1. The single line comment which will be followed by ##/#
2. We can also comment in the form of string with triple quote (""")to make the comment in different line
3. We can also comment in multiple line either using ##/# or triple quote . 
below are  the example of comment .

In [6]:
# This is a single line comment . where there is only one line avialable .

In [2]:
## I am doing my python assigmemts-2 and i am loving it . 
## The course is beginner friendly

In [5]:
""" The videos provided in the section is very helpful to learn python in depth.
It but to be good at python practice is the main this that need to be done 
I am loving data science 2.0 """

' The videos provided in the section is very helpful to learn python in depth.\nIt but to be good at python practice is the main this that need to be done \nI am loving data science 2.0 '

Ans no 2 .

In Python, variables are containers for storing data values. Unlike some other programming languages, Python has no command for declaring a variable. A variable is created the moment you first assign a value to it .  For example, you can create a variable x and assign the value 5 to it by writing x = 5. You can also create a variable y and assign the string value "John" to it by writing y = "John". Variables do not need to be declared with any particular type and can even change type after they have been set.

In [10]:
# example of assigin of varibale , where x is a variable 

x = 5

In [8]:
x

5

In [11]:
# we can also assign a multiple  variable to a value example below 
x = y = z = 10

In [12]:
y

10

In [13]:
## assignig multiple variable with different value in a single line with the help of , 
a, b, c = 1, 1.35 , 674+7j

In [14]:
a

1

In [15]:
b

1.35

In [16]:
c

(674+7j)

Ans 3 .

There are two types of type conversion in Python: Implicit Type Conversion and Explicit Type Conversion

implicit Type Conversion :  is when the Python interpreter automatically converts one data type to another without any user involvement. For example, if you add an integer and a float, the integer will be implicitly converted to a float before the addition takes place1.

Explicit Type Conversion, also known as typecasting, is when the user manually changes the data type of an object to the required data type. You can use built-in functions like int(), float(), and str() to perform explicit type conversion2. 

example of both given below :

In [17]:
## Implicit Type Conversion:

In [18]:
x = 10 
y = 9.6

In [19]:
x+y

19.6

In [21]:
type(x+y)

float

In [22]:
## Explicit Type comversion ::

In [37]:
num_string = "12" 
num_integer = int(num_string)

In [24]:
type (num_string)

str

In [30]:
num_string

'12'

In [38]:
type(num_integer)

int

In [40]:
num_integer

12

Ans : 4

To write and execute a Python script from the command line, we  need to follow these steps:

Open a command-line shell like cmd, PowerShell or Bash1.
Navigate to the directory where you want to create your script1.
Create a new file with the .py extension and write your Python code in it. You can use any text editor to do this.
Save the file when you are done writing your code.
Type python followed by the script name1. For example, if your script is named myscript.py, you would type python myscript.py and then hit Enter to run the script.

If you are using a Mac or Linux, you may need to use the python3 command instead of python1. Also, make sure that your terminalâ€™s working directory is the directory that contains your python script, or give the full path to the script2

Ans : 5

In [42]:
## To obtain the sublist [2,3]
my_list = [1, 2, 3, 4, 5]

In [44]:
type(my_list)

list

In [49]:
my_list[1:3]

[2, 3]

Ans 6 :

A complex number is a number that consists of two parts â€” a real number and an imaginary number. An imaginary number is a number that is multiplied by i, which is a symbol that represents the square root of -1 .

In [52]:
## The representation of complex number is given below . 
x= 3 + 4j

In [53]:
type(x)

complex

Ans 7

The correct way to assign a variable is first we have to create a varibale and the assign a value to it with the help of = operator  . 
example given below of declare a variable named age and assign the value 25 to it.

In [55]:
Age =  25

In [56]:
type(Age)

int

Ans 8

In [57]:
## Declaring a variable name Price and assigning a value od 9.99 to it . It is given below .

price = 9.99

In [58]:
type(price)

float

The data type belong to Float .

Ans : 9

In [60]:
## Creating a variable name and assigining my full name . 

name = "Bishu Sharma"

In [61]:
## we can print the string value  by calling the variable name like shown below .

name

'Bishu Sharma'

Ans : 10

In [62]:
## extracting the substring word form "Hello, world ! "

## first assigning the variable 

C = "Hello , World!"

In [65]:
## printing C 

C

'Hello , World!'

In [70]:
## finding the index of the string world 

C.index("World")

8

In [74]:
## extracting the substring "World"

C[8:13]

'World'

Ans 11

In [75]:
## Creating a variable name is_student and assiging a boolean value in it given below :

is_student = True

In [76]:
is_student

True